<div class="nav-buttons">
  <div class="container-buttons">
    <a class="button" href="/">Home</a>
    <a class="button" href="/info">Informações de usuários</a>
    <a class="button" href="/users-website">Websites dos usuários</a>
    <a class="button" href="/address-search"
      >Pesquisa de usuários por endereço</a
    >
  </div>
</div>
