.header {
  text-align: center;
  width: 800px;
  margin: auto; }
  .header .title {
    text-transform: uppercase; }
  .header .nav-buttons {
    border-top: 1px solid black;
    border-bottom: 3px solid black; }
    .header .nav-buttons .container-buttons {
      padding: 10px 0; }
      .header .nav-buttons .container-buttons .button {
        padding: 0 10px;
        text-decoration: none; }
      .header .nav-buttons .container-buttons .button:hover {
        text-decoration: underline; }

.content {
  width: 800px;
  min-height: 100px;
  margin: auto;
  padding: 20px 0px;
  border-bottom: 5px solid black; }

.footer {
  width: 800px;
  text-align: center;
  margin: auto; }

.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block; }

.green {
  background-color: green; }
