.header {
  text-align: center;
  width: 800px;
  margin: auto;

  .title {
    text-transform: uppercase;
  }

  .nav-buttons {
    border-top: 1px solid black;
    border-bottom: 3px solid black;

    .container-buttons {
      padding: 10px 0;
      .button {
        padding: 0 10px;
        text-decoration: none;
      }
      .button:hover {
        text-decoration: underline;
      }
    }
  }
}

.content {
  width: 800px;
  min-height: 100px;
  margin: auto;
  padding: 20px 0px;
  border-bottom: 5px solid black;
}

.footer {
  width: 800px;
  text-align: center;
  margin: auto;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
}

.green {
  background-color: green;
}
