<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Mutant Test App</title>

    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/users/address-search.css" />
  </head>

  <body>
    <%- include('../includes/header')%>

    <section class="content">
      <h2>Pesquisa de usuários por endereço (por suite)</h2>

      <div class="input-search">
        <form action="/address-search" method="post">
          <input
            type="text"
            name="term"
            placeholder="Pesquisar por outra suite"
          />
          <button type="submit">Pesquisar</button>
        </form>
      </div>

      <h5>Termo utilizado: "<%=term%>"</h5>

      <ul>
        <% users.map(user => { %>
        <li>
          <strong><%=user.name%></strong>: <%=user.address.street%>,
          <%=user.address.suite%>, <%=user.address.city%>,
          <%=user.address.zipcode%>
        </li>
        <% }) %>
      </ul>
    </section>

    <%- include('../includes/footer')%>
  </body>
</html>
