<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Mutant Test App</title>

    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <%- include('../includes/header')%>

    <section class="content">
      <h2>Home</h2>

      <p>
        Aplicação de avaliação para seleção da Mutant. Abaixo seguem as
        descrições de cada funcionalidade do app.
      </p>

      <hr class="divisor" />

      <h3>Informações de usuários</h3>
      <p>
        Solicitado: O Nome, email e a empresa em que trabalha (em ordem
        alfabética)
      </p>
      <p>
        Resolução: Foi criada uma lista, ordenada por nome de usuário, exibindo:
        nome, e-mail e empresa
      </p>

      <hr class="divisor" />

      <h3>Website dos usuários</h3>
      <p>
        Solicitado: Os websites de todos os usuários
      </p>
      <p>
        Resolução: Foi criada uma lista, ordenada por nome de usuário, exibindo:
        nome e website
      </p>

      <hr class="divisor" />

      <h3>Pesquisa de usuários por endereço</h3>
      <p>
        Solicitado: Mostrar todos os usuários que no endereço contem a palavra
        `suite`
      </p>
      <p>
        Resolução: Foi criada uma lista, ordenada por nome de usuário, exibindo:
        nome e endereço. Por padrão, a lista é filtrada com o termo 'suite', mas
        o usuário pode optar em pesquisar por outro termo. O filtro aplica-se
        apenas ao campo "suite".
      </p>

      <hr class="divisor" />

      <h3>Visualizar logs</h3>
      <p>
        Solicitado: Salvar logs de todas interações no elasticsearch
      </p>
      <p>
        Resolução: Foi criada uma lista, ordenada por data de criação, exibindo:
        ação do usuário e data. Os logs armazenados são referentes as seguintes
        ações: visualização de páginas e uso do filtro de busca.
      </p>
    </section>

    <%- include('../includes/footer')%>
  </body>
</html>
