<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Mutant Test App</title>

    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <%- include('../includes/header')%>

    <section class="content">
      <h2>Informações de usuários</h2>

      <ul>
        <% users.map(user => { %>
        <li>
          <strong><%=user.name%></strong>, <%=user.email.toLowerCase()%>,
          <%=user.company.name%>
        </li>
        <% }) %>
      </ul>
    </section>

    <%- include('../includes/footer')%>
  </body>
</html>
