<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Mutant Test App</title>

    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <%- include('../includes/header')%>

    <section class="content">
      <h2>Visualização de logs</h2>

      <div>
        Elasticsearch status:
        <div class="status green"></div>
      </div>

      <ul style="height: 500px; overflow-y: scroll;">
        <% logs.hits && logs.hits.hits.reverse().map(log => { %>
        <li>
          <strong><%=log._source.action%>:</strong>
          <%=log._source.description%>, <%=log._source.timestamp%>
        </li>
        <% }) %>
      </ul>
    </section>

    <%- include('../includes/footer')%>
  </body>
</html>
