<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Mutant Test App</title>

    <link rel="stylesheet" href="/css/app.css" />
  </head>

  <body>
    <%- include('../includes/header')%>

    <section class="content">
      <h2>Websites dos usuários</h2>
      <ul>
        <% users.map(user => { %>
        <li><%=user.name%>: <a href="http://<%=user.website%>" target="_blank"><%=user.website%><a></li>
        <% }) %>
      </ul>
    </section>

    <%- include('../includes/footer')%>
  </body>
</html>
